<div class="container">
    <div class="hero-image">
      <div class="hero-text">
      <div class="row">
          <div class="col-md-2">
              
          </div>
          <div class="col-md-8">
              
                  <fieldset class="text-center">
                      <!-- <legend class="text-center">EazyPay</legend> -->
                      
                        <table > 
                            <tr>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/delhi.jpg" alt="Delhi" style="width:100%">
                                        <p><button (click)="selectCity()"> Delhi</button></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/pune.jpg" alt="pune" style="width:100%">
                                        <p><button>Pune</button></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/chennai.jpg" alt="chennai" style="width:100%">
                                        <p><button>chennai</button></p>
                                    </div>
                                </td>
                            
                            </tr>
                            <tr>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/hyderabad.png" alt="pune" style="width:100%">
                                        <p><button>Hyderabad</button></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/bangalore.jpg" alt="pune" style="width:100%">
                                        <p><button>Bangalore</button></p>
                                    </div>
                                </td>
                                <td>
                                    <div class="card">
                                        <img src="assets/images/mumbai.jpg" alt="mumbai" style="width:100%">
                                        <p><button>mumbai</button></p>
                                    </div>
                                </td>
                            
                            </tr>
                            
                            </table>
                      
                      </fieldset>
              
          </div>
          <div class="col-md-2">
              
          </div>
      </div>
  </div>
  
  </div>
  </div>