<!DOCTYPE html>
<html lang="en">
<body>
    <header>
        <h2>Details</h2>
    </header>

    - <div style="text-align: left;">
 </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <button class="btn btn-danger" type="reset">Cancel Ticket</button> &nbsp;
                <button class="btn btn-success">Click To Proceed</button> &nbsp;
                <fieldset>
                    <legend class="text-center">Your Details are</legend>
                    <div style="text-align: left;">
                    <table>
                        <tr>
                            <td>
                                <div class="card">

                                    <div class="hero-image">

                                    </div>

                                    <!-- <p><button (click)="routelogout()">Logout</button></p> -->
                                </div>
                            </td>
                            <td>
                        <tr>

                            <td>
                                
                                <div class="card">
                                    <div>

                                        <div class="w3-card-4" style="width:300%;">
                                            
                                            <header class="w3-container w3-gray">
                                                <div style="text-align: center;">
                                                <h2>Booking Details</h2></div>
                                            </header>

                                            <div class="w3-container">

                                                    <div class="w3-container">
                                                        <fieldset>

                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>BookingId</th>
                                                                        <th>MovieId</th>
                                                                        <th>ShowId</th>
                                                                        <th>Show Reference</th>
                                                                        <th>BookingDate</th>
                                                                        <th>TransactionId</th>
                                                                        <th>TotalCost</th>
                                                                        <th>SeatList</th>

                                                                    </tr>
                                                                </thead>

                                                            </table>

                                                        </fieldset>
                                                    
                                                    <div class="w3-panel w3-card-2 w3-yellow">



                                                        <td>

                                                            <div class="card">
                                                             <div>   

                                                                <div class="w3-card-4" style="width:300%;">
                                                                 <header class="w3-container w3-gray">

                                                                    <div style="text-align: center;">
                                                                        <h2>Ticket Details</h2></div>
                                                                </header>

                                                                <div class="w3-container">


                                                                    <div class="w3-container">

                                                                        <fieldset>

                                                                            <table class="table table-striped">
                                                                                <thead>
                                                                                        <tr>
                                                                                            
                                                                                            <th>Ticket Id</th>
                                                                                            <th>TotalSeat</th>
                                                                                            <th>SeatName</th>
                                                                                            <th>TicketStatus</th>
                                                                                            <th>Screen Name</th>
                                                                                        </tr>
                                                                                </thead>
                                                                            </table>

                                                                        </fieldset>

                                                                    </div>

                                                                </div>


                                                            </div>
                                                        </div>

                                    
                                                    </div>
                                                </td>

                                            </div>
                                        </div>
                                    </div>
                                        <footer class="w3-container w3-gray">
                                            <h5>Visit Again</h5>
                                        </footer>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>

            </td>
    </tr>
    </table>
                    </div>
    </fieldset>
    </div>

    </div>
    </div>

</body>

</html>