
<body>



<header>
  <h2>Select Payment Method</h2>
</header>

<div style="text-align: center;">
   

</div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-8">
          <button class="btn btn-danger" type="reset">Cancel Payment</button> &nbsp;
                <fieldset>
                    <legend class="text-center">Pay Here</legend>
                    <table>
                        <tr>
                          <td><div class="card">
                            
                            <div class="hero-image">
                                
                              </div>

                            <!-- <p><button (click)="routelogout()">Logout</button></p> -->
                        </div></td>
                          <td>
                          <tr>
                                <td><div class="card">
                                  <div><a href="/BookingDetails" (click)="makePayment()" ><img src="assets/images/Gpay.png" alt="John" width="200" height="200"  class="center"> 
                                  </a></div>
                                    
                                    <!-- <p><button (click)="makePayment()">Payments</button></p> -->
                                </div></td>
                           
                                <td>
                                    <div class="card">
                                        <div><a href="#" > <img src="assets/images/Bhim.png" alt="John" width="200" height="200"  class="center"> 
                                        </a></div>
                                        
                                        <!-- <p><button (click)=" routeWithdraw()">Add Balance</button></p> -->
                                    </div>
                                </td>

                                <td>
                                    <div class="card">
                                        <div><a href="#" ><img src="assets/images/mobi.png" alt="John" width="200" height="200"  class="center"> 
                                        </a></div>
                                        
                                        <!-- <p><button (click)=" routeWithdraw()">Add Balance</button></p> -->
                                    </div>
                                </td>

                                

                            </tr>
                          <tr>
                              <td>
                                <div class="card">
                                    <div><a href="#" > <img src="assets/images/Paytm.png" alt="John" width="200" height="200"  class="center"> 
                                    </a></div>
                                    
                                    
<!--                                    
                                    <p><button (click)=" routehistry()">Show Transaction</button></p> -->
                                </div>
                              </td>
                           
                              <td>
                                <div class="card">
                                    <div><a href="#" > <img src="assets/images/Phonepay.png" alt="John" width="200" height="200"  class="center">
                                    </a></div>
                                    
                                   
                                    
                                    <!-- <p><button (click)=" routedeposit()">Balance Deposit</button></p> -->
                                </div>
                              </td>

                              <td>
                                <div class="card">
                                    <div><a href="#" >  <img src="assets/images/amazonpay.png" alt="John" width="200" height="200"  class="center"> 
                                    </a></div>
                                    
                                    <!-- <p><button (click)=" routeWithdraw()">Add Balance</button></p> -->
                                </div>
                            </td>

                            </tr>
                          </td>
                        </tr>
                      </table>
                    </fieldset>
            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>
   




