<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #e76464;">
  <nav class="navbar-brand col-sm-3 col-md-2 mr-0 text-dark"  style="background-color: #e76464;">
    <div *ngIf="isAdmin">
      <i class="fas fa-user"></i> &nbsp;Admin
  </div>

  <div *ngIf="isCustomer">
    <i class="fas fa-user"></i> &nbsp;Customer
</div>
<div *ngIf="isGuest">
  <i class="fas fa-user"></i> &nbsp;Guest
</div>

</nav>
<h1 style="margin-right: 100px;font-size: 40px;font-style: italic;"><img src="assets/images/logo.png" style="width: 8%; height:8%;margin: 5px;">Movie Mania</h1>
</nav>

<div class="container-fluid" >
  <div class="row">
      <nav class="col-md-2 col-sm-3 bg-light sidebar" >
          <div class="sidebar-sticky" style="margin-top: 30px;background-color: aquamarine;">
              <ul class="nav flex-column">
                <div *ngIf="isGuest">
                  <h2 style="margin-left: 15px;">Hi Guest,</h2>
                  <li class="nav-item main">
    
                      <a class="nav-link" routerLink="/login">
                          <img src="https://img.icons8.com/ios-filled/50/000000/login-rounded-down.png" style="height: 30px;"/>   &nbsp;Login <span class="sr-only">(current)</span>
                      </a>
                  </li>

                  <li class="nav-item main">
                      <a class="nav-link" routerLink="/register">
                          <img src="https://img.icons8.com/ios-filled/50/000000/add-user-male.png" style="height: 30px;"/>  &nbsp;Register
                      </a>
                  </li>
                </div>
          
                <div *ngIf="isCustomer">
                  <h2 style="margin-left: 20px;">Hi User,</h2>
                  <li class="nav-item main">
                    
                    <a class="nav-link" routerLink="/editUser">
                      <i class="fas fa-edit"></i>     &nbsp;Edit Profile <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item main">
                    <a class="nav-link" routerLink="/bookings">
                      <i class="fas fa-book"></i>  &nbsp;Your Bookings
                    </a>
                </li>

                <li class="nav-item main">
                        <a class="nav-link" (click)="logout()">
                            <img src="https://img.icons8.com/ios-filled/50/000000/export.png" height="20px"/>  &nbsp; Logout
                        </a>
                    </li>
                  
              </div>
              <div *ngIf="isAdmin">
                <h2 style="margin-left: 20px;">Hi Admin,</h2>
                <li class="nav-item main">
                  
                  <a class="nav-link" routerLink="/editUser">
                    <i class="fas fa-edit"></i>   &nbsp;Edit Profile <span class="sr-only">(current)</span>
                  </a>
              </li>

              <li class="nav-item main">
                <a class="nav-link" (click)="logout()">
                    <img src="https://img.icons8.com/ios-filled/50/000000/export.png" height="20px"/>  &nbsp; Logout
                </a>
            </li>
                
            </div>

                  <br>

                  <li class="nav-item">
                      <a class="nav-link">
                          <p><i class="fas fa-calendar-alt"></i> &nbsp;{{todaysDate | date}}</p>
                          <p><i class="fas fa-clock"></i> &nbsp;{{todaysDate | date:'h:mm:ss a'}}</p>
                      </a>
                  </li>
              </ul>
          </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-outlet></router-outlet>
      </main>
  </div>
</div>