<div class="col-lg-8 col-md-8">
    <h2>Step 2 :- Select Movie</h2>
               <table>
                   <tr>
                       <td>
                        <div class="container">
                            <img src="assets/images/Movie2.jpg" alt="Delhi" style="width:100%">
                            <p>Hello. How are you today?</p>
                            <span class="time-right"><button class="btn-outline-danger">Select</button></span>
                        </div>
                       </td>
                   </tr>
                   <tr>
                    <td>
                     <div class="container">
                         <img src="assets/images/Movie2.jpg" alt="Delhi" style="width:100%">
                         <p>Hello. How are you today?</p>
                         <span class="time-right"><button class="btn-outline-danger">Select</button></span>
                     </div>
                    </td>
                </tr>
                <tr>
                    <td>
                     <div class="container">
                         <img src="assets/images/Movie2.jpg" alt="Delhi" style="width:100%">
                         <p>Hello. How are you today?</p>
                         <span class="time-right"><button class="btn-outline-danger">Select</button></span>
                     </div>
                    </td>
                </tr>
               </table> 
 
</div>